# Virtual Environments
.venv/
venv/
venv_win/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Secrets, Credentials & Local Config
.env
.env.*
*.enc
settings.json
*.bak
*.local

# Build and Dist output
build/
dist/
build_staging/
*.spec

# Test & Lint Cache
.pytest_cache/
.coverage
.ruff_cache/
.preview.html
